:root {
  --theme: rgb(0, 213, 255);
  --themeText: rgb(0, 213, 255);
  --subTheme: rgb(255, 0, 0);
  --reachWhite: rgb(241, 241, 241);
  --reachBlack: rgb(0, 0, 0);
  --boxShadowWhite: 1px solid rgb(156, 156, 156);
}

* {
  box-sizing: border-box;
}

*:not(body) {
  transition: all 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  width: 100%;
}

ul,
li,
ol {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000 !important;
  color: var(--reachWhite) !important;
  font-family: Arial, sans-serif !important;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.header {
  padding: 10px;
  background-color: #000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  /* border-bottom: 2px solid var(--reachWhite); */
}

.flat {
  margin: 0;
  padding: 0;
}

.brandContainer {
  composes: flat;
  /* margin: 0 auto; */
  color: var(--reachWhite);
}

.navContainer {
  padding: 5px;
  /* margin: 0 auto; */
}

.navList {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navItem {
  display: inline-block;
  padding: 5px !important;
  border-radius: 5px;
  border-bottom: 0.5px solid var(--reachWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navItem:hover {
  box-shadow: 0 2px 5px 0 #fff;
  transform: scale(1.05, 1.05);
}

.navItemActive {
  composes: navItem;
  border: 0.5px solid var(--reachWhite);
  color: var(--reachWhite);
}

.navItemActive:hover {
  box-shadow: none;
  transform: none;
}

.childrenContainer {
  padding: 0 10px;
}

.itemsCenter {
  justify-content: center !important;
  align-items: center !important;
}
