.container {
  border-radius: 5px;
  border: 0.5px solid var(--themeText);
  padding: 10px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.container:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 2px 5px var(--theme);
}

.title {
  color: var(--reachTheme);
}

.description {
  width: 100%;
  text-align: left;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.owner {
  display: inline-block;
  width: fit-content;
  text-align: left;
  word-break: break-all;
}

.readMe {
  opacity: 0;
  display: inline-block;
  width: fit-content;
  color: var(--theme);
  border-radius: 3px;
  background-color: #000;
}

.container:hover .readMe {
  opacity: 1;
}

.readMe:hover {
  transform: scale(1.05, 1.1);
  color: var(--theme);
}

.interact {
  position: relative;
  opacity: 0;
}

.innerInteract {
  padding: 5px !important;
  border-radius: 5px;
  border: 0.5px solid var(--themeText);
  cursor: pointer;
}

.innerInteract:active {
  background-color: var(--theme);
  color: var(--reachBlack) !important;
}

.innerInteract:active .upvote,
.innerInteract:active .downvote,
.innerInteract:active .contribute {
  color: var(--reachBlack) !important;
}

.container:hover .interact {
  opacity: 1;
}

.upvote {
  background-color: transparent;
  border: transparent;
  color: var(--themeText);
  font-size: 20px;
  position: relative !important;
}

.innerInteract:hover .upvote {
  animation: animateUp 0.6s ease-in-out;
}

@keyframes animateUp {
  0% {
    transform: scale(1, 1);
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    transform: scale(1, 1);
    top: 0;
  }
}

.downvote {
  composes: upvote;
  /* color: var(--subTheme); */
}

.innerInteract:hover .downvote {
  animation: animateDown 0.6s ease-in-out;
}

@keyframes animateDown {
  0% {
    transform: scale(1, 1);
    top: 0;
  }
  50% {
    top: 5px;
  }
  100% {
    transform: scale(1, 1);
    top: 0;
  }
}

.contribute {
  background-color: transparent;
  margin: 0 auto;
  border: transparent;
  color: var(--themeText);
  font-size: 25px;
}

.innerInteract:hover .contribute {
  animation: contribute 0.5s ease-in;
}

@keyframes contribute {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
