.container {
  border-radius: 5px;
  border: 0.5px solid var(--themeText);
  padding: 10px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.container:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 2px 5px var(--theme);
}

.title {
  color: var(--reachTheme);
}

.description {
  width: 100%;
  text-align: left;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.owner {
  display: inline-block;
  width: fit-content;
  text-align: left;
}

.readMe {
  display: inline-block;
  width: fit-content;
  color: var(--theme);
  border-radius: 3px;
  background-color: #000;
}

.readMe:hover {
  transform: scale(1.05, 1.1);
  color: var(--theme);
}

.upvote {
  background-color: transparent;
  border: transparent;
  color: var(--themeText);
  font-size: 20px;
}

.upvote:hover {
  animation: animate 1s ease-in;
}

@keyframes animate {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(2, 2);
  }
  75% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

.downvote {
  composes: upvote;
  color: var(--subTheme);
}

.contribute {
  background-color: #000;
  color: rgb(174, 0, 255);
  font-size: 20px;
}
