.flat {
  composes: flat from "./MainWrapper.module.css";
  width: 100%;
}

.label {
  padding: 5px 50px;
  margin: 0 auto;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: var(--reachWhite);
  color: var(--reachBlack);
  width: fit-content;
}

.children {
  padding: 30px 5px 5px;
  width: max(70%, 300px);
  margin: 0 auto;
}
